
<h3 class="header">Stop Spreading Fake News</h3>
<p class="homecontene">
    Spreading false or misleading messages by any person during the time of emergency or otherwise through 
    any means is an offence under the Information, Communications and Media Act of Bhutan 2018 and shall be 
    prosecuted for the same. The general public is advised not to spread any kind of fake news.
</p>
<p class="homecontene">
    The Royal Government of Bhutan is putting in place every measure necessary to safeguard the people 
    of Bhutan from the COVID-19 pandemic – the Coronavirus. With our biggest assurance and comfort coming 
    from His Majesty The King who is selflessly looking after the people, at such a difficult time, we on 
    our part must remain united and support one another to contain the spread of the virus in our country. 
    We have to ensure that all Bhutanese have the access to timely and correct information from the government 
    to take all the necessary precautions.
</p>



