<h1 class="header">Editing patient</h1>

<%= render "form", patient: @patient %>

<br>

<div class="editback" style="text-align:center">
  <%= link_to "Back", @patient %> |
  <%= link_to "Back to patients", patients_path %>
</div>
